.form {
  &__input {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__error {
    margin-top: 10px;
  } 
  
  &__button {
    margin-top: 25px;
  }

  &__link {
    display: block;
    margin-top: 10px;

    text-decoration: none;
    color: rgb(85, 26, 139);
  }
}