.center-card {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  &__card {
    width: 500px;
    
    padding: 50px 30px;

    border: 1px solid #ddd;
    border-radius: 10px;
  }
}