.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  padding: 0 40px;

  background-color: #3059ac;
}

.logo {
  padding: 10px;

  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.signout {
  display: flex;
  align-items: center;

  color: #fff;
  cursor: pointer;

  &__icon {
    width: 20px;
    height: 20px;

    margin-left: 10px;
  }
}