*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  margin: 0;
  
  font-size: 36px;

  &_center {
    text-align: center;
  }
}

a {
  text-decoration: none;
}